html, body{
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(white, #eee);
    background-repeat: no-repeat;
    background-color: #eee;
    overflow-y: scroll;
}
a, h1, h2{
    color: crimson;
    text-decoration: none;
}
a{
    cursor: pointer;
}
a:hover{
    color: red;
}
::selection{
    background-color: #e55;
    color: white;
}
img::selection{
    background-color: transparent !important;
}
h1{
    font-size: 32px;
    margin: 0px;
    padding: 0px;
}
select{
    padding: 8px;
    border: none;
    margin: 0px;
}
select:focus{
    border: none;
    outline: none;
    background-color: #eee;
}
option{
    background-color: white;
}
option:hover{
    background-color: crimson;
}
option:checked{
    background-color: crimson;
}
input{
    padding: 8px;
    border: solid #aaa 1px;
}
nav{
    position: sticky;
    top: 0;
    background-color: white;
    padding: 16px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #eee solid 1px;
}
p{
    padding: 0px;
    margin: 0px;
}
footer{
    position: fixed;
    display: block;
    text-align: center;
    width: 100%;
    padding: 5px;
    bottom: 0px;
    color: #333;
}
.beli{
    width: 100%;
    background-color: crimson;
    border: none;
    padding: 8px 0px;
    margin: 5px 0px;
    color: white;
    font-size: large;
    letter-spacing: 1px;
}
.beli:hover{
    cursor: pointer;
    box-shadow: #aaa 1px 1px 5px;
}

.nav-left{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.nav-left a{
    padding: 0px 16px;
}
.container{
    max-width: 1440px;
    margin: auto;
}
.search{
    width: 720px;
    margin: 0px 0px 0px 16px;
}
.banner{
    max-width: 1440px;
    object-fit: cover;
    display: flex;
}
.banner:hover{
    cursor: pointer;
}
.section{
    min-height: 320px;
}
.list{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.card{
    display: flex;
    padding: 16px;
    margin: 16px;
    border: #aaa solid 1px;
    flex-direction: column;
    background-color: white;
    color: #333;
    border-top: solid crimson 5px;
}
.card:hover{
    cursor: pointer;
    background-image: linear-gradient(#eee , white);
    box-shadow: #aaa 1px 1px 5px;
}
.card:active{
    transform: scale(0.95);
}
.card img{
    width: 145px;
    height: 220px;
    object-fit: cover;
}
.desc{
    padding: 16px;
    display: flex;
    flex-direction: row;
}
.desc-content{
    padding: 16px;
}
.desc-content p{
    padding: 8px 0px;
}
.desc img{
    width: 290px;
    height: 440px;
    object-fit: cover;
}
.card h3, .card p{
    padding: 6px 0px 3px 0px;
    margin: 0px;
}
.title{
    border-bottom: solid 1px #aaa;
}
.add{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.add input{
    display: block;
    margin: 5px 0px;
    width: 240px;
}
.submit{
    margin: 0px;
    width: 260px;
    background-color: transparent;
    border: none;
    color: crimson;
}
.submit:hover{
    font-size: large;
    cursor: pointer;   
}
.add select{
    border: solid 1px #aaa;;
}
.unavailable{
    background-color: #aaa !important;
    color: #eee !important;
}
.unavailable:hover{
    background-image: none;
    background-color: #aaa !important;
    color: #eee !important;
    box-shadow: none;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: crimson;
}